body{
  margin: 0;
  padding: 0;
  background: #c9c9c9S;
  background-size: cover;
}
nav ul li {
  width: 20%; }
nav ul li a {
  display: block;
  width: 100%; }
nav ul li {
  width: 20%; /* from above */
  float: left; }

.prof{
  width: 700px;
  background: rgba(255, 0, 0, 0.5);
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 50%;
  font-family: 'Bookman';
}
.prof p{
  width: 600px;
  padding: 50px;
  margin-top: 75%;
  text-align: center;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.Resume {
    color: lime;
}

.Resume:hover {
    background-color: #4CAF50;
    color: white;
}
